*{ box-sizing: border-box; }

body,html { scroll-behavior: smooth; width: 100%; overflow-x: hidden }

body{
    background-color: $background-color;
    padding: 0;
    margin: 0;
    position: relative;
}
body::-webkit-scrollbar{ display: none }

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: $principal-font;
    color: #c2c2c2;
}

p,a,span,label{
    font-family: $secundary-font;
    color: #949494;
    text-decoration: none;
}

img{ object-fit: cover }
 
li{ color: #949494; font-size: 1.1em; }

table{ border: 1; border-spacing: 0px; }
tbody, thead{ color: #c2c2c2;  }
th{ border: 1px solid rgb(80, 80, 80); min-width: 150px }
td{ padding: .4em .2em .4em .4em; border: 1px solid rgb(80, 80, 80); }
//--------------------- Events
.Menu--active{ backdrop-filter: blur(10px); background-color: rgba(48, 47, 47, 0.384) }