/*----- FONTS -------*/
$principal-font: 'Courier New', Courier, monospace;
$secundary-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

/*----- COLORS -------*/
$principal-color: #E7E0D2;
$secundary-color: #94B49F;
$tertiary-color: #E2C2B9;
$extra-color: /*#E8DFCA*/ #F2DDC1;

$primary-color-text:rgb(218, 218, 218);
$secundary-color-text:rgb(134, 134, 134);
$tertiary-color-text:rgb(102, 101, 101);

$background-color:#2C2C2B;