.container{
    max-width: 980px;
    margin: 2em auto;
    padding: 0 1em;
    position: relative;
}

.goBack{
    background-color: #FAEDBC;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: .3em .7em;
}
.goBack a{
    color: black;
    font-size: 1.2em;
}

.title{
    font-size: 3.3em;
    margin-top: .2em;
}

.breadCrumbs{
    font-size: 1.1em;
}
.breadCrumbs a:hover{ color: rgb(109, 140, 193); }

.copyright a{
    color: rgb(86, 126, 195);
}


/*--------------- OPTIONS ---------------------*/
.options{ 
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;

}
.options h3{ font-size: 1.5em; margin-bottom: 0; width: 100%; }
.option{
    background-color: rgb(102, 102, 102);
    border: none;
    outline: none;
    padding: .5em 1em;
}
.option a{ font-size: 1.4em; color: aliceblue }
.option svg{ margin-right: .5em; vertical-align: text-top }

/*--------------- TECHNOLOGIES ---------------------*/
.technologiesContainer{
    margin-top: 2em;
}
.technologiesContainer h3{
    font-size: 1.5em;
}

.technologies{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: .5em;
}
.technologies span{
    font-size: 2.3em;
    transform: scale(1);
    transition: transform .3s;
}
.technologies span svg{
    transition: color .3s;
}

.technologies span:hover{
    transform: scale(1.2);
}
.technologies span:hover svg{
    color: #FAEDBC;
}

/*--------------- CONTENT ---------------------*/
.content{
    margin-top: 2em;
}
.content *{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content h3{
    font-size: 1.5em;
}

.content p, 
.content span, 
.content a{
    font-size: 1.3em;
    text-align: justify;
}

.content li p{
    font-size: 1.1em
}

.content a{
    color: rgb(71, 126, 184);
}
.content blockquote{
    margin-left: 5px;
    padding-left: 20px;
    border-left: 3px solid #FAEDBC;
}
.content blockquote > p{
    padding: 5px 0;
}

.content img{
    max-width: 100%;
}