//---- Settings
@import 'config/variables';

//---- Generics
@import 'config/reset';

//---- Utils
@import './config/components';

//------------------------------------------
//---------------- MENU --------------------
//------------------------------------------
.Menu{
    width: 100%;
    max-width: 100vw;
    height: fit-content;
    padding: 0 1em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #E0E0E0;
    background-color: #545454;
    position: fixed;
    z-index: 9;

    //--------------- BLOG
    &--blog{
        justify-content: left;
        padding: .5em 1em;
        
        &__link{
            display: flex;
            align-items: center;
            gap: .4em;
            & > span{ color: #FAEDBC }
        }
    }

    // --------------- IMG   
    &__image{ width: 5em }

    // --------------- LINKS
    &__links{ display: flex; gap: 2em }
    &__h3{ 
        position: relative; 
        overflow: hidden; 
        line-height: 120%;
        & a{ color:#E0E0E0; text-decoration: none; user-select: none; }

        &--blog{ 
            margin-left: -.4em; 
            background-color: #FAEDBC;
            & a{ color: #545454; padding: .3em .5em; }
        }
    }
    &__h3::after{
        content: "";
        position: absolute;
        width: 115%;
        height: .1em;
        background-color: #FAEDBC;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform ease-in .2s;
    }
    &__h3--main a{ color: #FAEDBC }
    &__h3:hover::after{ transform: translateX(-50%)}

    // --------------- BUTTON
    &__button{
        width: 2.5em;
        height: 2em;
        cursor: pointer;
        display: none;
        
        & span{
            display: block;
            width: 100%;
            height: .3em;
            background-color: #FAEDBC;
            pointer-events: none;
            transform-origin: left;
            transition: transform .2s linear, opacity .2s linear;
        }
    }
    
    
    &__buttonDiv2, &__buttonDiv3{ margin-top: .5em }
    
    &__button--active &__buttonDiv1{
        transform: rotate(40deg);
    }
    &__button--active &__buttonDiv2{
        transform: translateX(-2em);
        opacity: 0;
    
    }
    &__button--active &__buttonDiv3{
        transform: rotate(-40deg);
    }
}

//------------------------------------------
//---------------- HEADER ------------------
//------------------------------------------
.Header{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background-image: url(/office-g57d11e9a5_1920.jpg);
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    // ------------------------- TEXT
    &__textContainer{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
    &__h1{ margin: 0; color: #FAEDBC; font-size: 3em; line-height: 80% }
    &__h3{ margin-bottom: 1em; color: #E0E0E0; font-weight: 300 }
    
    //----------------------- NETWORKS   
    &__networks{ margin-top: .5em; display: flex; gap: 1em; }
    &__network-icon{
        border: 2px solid #FAEDBC;
        border-radius: 50%;
        display: flex;
        padding: .3em;
        font-size: 1.8em;
        color: #c2c2c2;
        cursor: pointer;
        
        &:hover{ color: #fff }
    }

}


//------------------------------------------
//---------------- FOOTER ------------------
//------------------------------------------
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 1em 1em 0 1em;
    background-color: rgb(68, 68, 68);
    width: 100%;

    &__h4{ font-size: 1.6em; color: rgb(201, 201, 201); margin-bottom: .5em; }
    
    &__network{
        margin-top: .7em;
        font-size: 1.3em;
        color: rgb(138, 138, 138);
        text-align: center;
        padding: .3em .6em;
    }
    &__network svg{ vertical-align: text-top;  }
    &__network:hover{ color: rgb(201, 201, 201); }
    
    &__p{ margin: .5em 0; color: rgb(201, 201, 201) }
}


//--------------------------------- @MEDIA OF <MENU> AND <HEADER>
@media screen and (max-width:700px) {
    .Menu{
        &__button{ display: block }
        
        &__links{
            margin-top: -130%;
            width: 100%;
            flex-direction: column;
            padding: 1em 0;
        }
        &__h3--blog{  margin-left: 0;  background-color: transparent; & > a{ color: #FAEDBC; padding: 0 } }
        &__h3::after{ width: 100%; left: 0; transform-origin: left; transform: scaleX(0); }
        &__h3:hover::after{ transform: scaleX(1)  }
        
        &__links--active{ margin-top: 0 }
    }

}

@media screen and (max-width:500px) {
    .Header__h1{ font-size: 2.5em }
    .Header__network-icon{ font-size:1.3em }
}

@media screen and (max-width:390px) {
    .Header__h1{ font-size: 2em }
    .Header__h3{ font-size: 1.1em; margin-top: .5em }
}

//-----------------------------------------------------------------------------------------------
//----------------------------------------- HOME PAGE -------------------------------------------
//-----------------------------------------------------------------------------------------------

//--------------------------------------------
//---------------- ABOUT ME ------------------
//--------------------------------------------

.AboutMe{ 
    width: 100%; 
    padding: 5em 0; 
    padding-bottom: 0;

    &__container{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;
        margin-bottom: 5em;
    }
    
    &__imageContainer{ width: 17em; height: 20em; background-color: #FAEDBC;}
    &__image{ 
        width: 100%;  
        height: 100%; 
        margin: -1em 0em 0 1em; 
        box-shadow: -.2em .2em 7px rgba(0,0,0,0.4);
        object-position: 0 -20px;
    }
    
    &__textContainer{ max-width: 500px }
    &__h3{ margin-bottom: .6em; color: #FAEDBC; font-size: 24px; }
    &__p { margin: 0; color: #E0E0E0; font-size: 1.1em; }
    
    &__button{
        position: relative;
        display: flex;
        background-color: #E0E0E0;
        width: fit-content;
        margin-top: 2em;
        padding: .5em;
        overflow: hidden;
        z-index: 8;
    }
    .AboutMe__effectButton{   
        position: absolute;
        left: -10px;
        top: 0;
        width: 4em;
        height: 3em;
        background-color: #FAEDBC;
        transform-origin: left;
        transform: skewX(40deg);
        transition: transform linear .3s;
    }
    .AboutMe__button:hover .AboutMe__effectButton{ transform: scaleX(4); }
    .AboutMe__h4{ margin-left: .5em; z-index: 10; color: #3d3d3d; }
    .AboutMe__button svg{ margin: 0; z-index: 10; color: #3d3d3d; }
}

//--------------------------------- @MEDIA 
@media screen and (max-width:1050px) {
    .Section{ padding: 5em 5% }
}

@media screen and (max-width:950px) {
    .AboutMe__textContainer{ max-width: 350px }
    
}

@media screen and (max-width:700px){
    .AboutMe{
        &__container{ flex-direction: column; align-items: center; margin-bottom: 3em; padding: 1em;}
        &__textContainer{ display: flex; flex-direction: column; align-items: center; max-width: 600px; }
        &__h3{ text-align: center }
        &__p{ text-align: justify}
    }
}


//--------------------------------------------
//---------------- SKILLS --------------------
//--------------------------------------------
.Skills{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: flex-start;
    gap: 0;
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 3em;

    &__moreInfo{
        & > h3{ font-size: 1.5em }
        & > p{ font-size: 1.2em }
    }

    &__container{ display: flex; flex-wrap: wrap; gap: 1em; margin-bottom: 2.5em; }
    &__h2{ font-size: 1.3em; color: $primary-color-text; border-bottom: .08em solid currentColor; padding: .2em .3em; width: 100% }
    &__icon{
        width: 2em;
        height: 2em;
        transition: transform linear .2s;
    
       &:hover{ transform: scale(1.15) }
       & svg{ width: 100%; height: 100%; color: #FAEDBC }
    }

    &__button{
        background-color: #FAEDBC;
        font-size: 1.2em;
        padding: .5em;
        margin-top: 2em;
        color: #3d3d3d;

        & > svg{ vertical-align: bottom; margin-right: .3em; }
    }
    
    
    @media screen and (max-width:900px){
        grid-template-columns: 1fr;

        &__div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1em 2em;
        }
        &__container{ justify-content: center; width: 40%; }
        &__h2{ text-align: center; }
    }
    
    @media screen and (max-width:600px){
        padding: 3em 1em;
        gap: 3em;

        &__container{ width: 100% }
        &__h2{ font-size: 1.4em }
        &__icon{ width: 2.5em; height: 2.5em } 
        
    }
}

//----------------------------------------------
//---------------- PROJECTS --------------------
//----------------------------------------------
.Projects{
    background-color: rgb(68, 68, 68);
    padding: 3em 1em 8em 1em;

    &__title{ text-align: center; text-decoration: underline; color: #FAEDBC; margin-bottom: 3em; }
    &__container{ display: flex; flex-wrap: wrap; align-items: flex-start; gap: 4em 2em; justify-content: center; }

    @media screen and (max-width:750px) {
        &{ padding:  3em .5em 4em .5em }

        &__container{ gap: 2em }
    }
}

/*-------------------- Project Card ------------------*/
.Project{ 
    gap: .5em; 
    width: 25em;  
    border-bottom: .001em solid var(--tertiary-color-text);
    padding-bottom: 1em;
    margin-bottom: 2em;

    /* ------------------ Image Box */
    &__imageContainer{ 
        position: relative; 
        height: 15em; 
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.767);
        overflow: hidden;
        margin-bottom: .5em;
        top: 0;
    }
    &__images{
        display: flex;
        width: max-content;
        height: 100%;   
        transition: margin-left .4s;
    }

    &__image{ width: 25em; height: 100% }

    &__arrowLeft, &__arrowRight{
        position: absolute;
        font-size: 1.4em;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        padding: 0 5px;
        cursor: pointer;
        transition: background-color .2s;
        color: $principal-color;
        
        &:hover{
            background-color: #9c9c9c4b;
        }
    }
    &__arrowRight{ right: 0; }
    

    /* ------------------ Text Box */
    &__title{ color: $primary-color-text; font-size: 1.5em; margin-bottom: .5em; text-transform: uppercase; }
    &__description{ color: $secundary-color-text; margin: .5em 0 2em }
    
    &__button{ 
        margin-right: 1em; 
        background-color: rgb(226, 226, 226);
        border: none;
        box-shadow: 0 1.5px 5px rgba(48, 47, 47, 0.842);
    
        & a{ 
            padding: .5em; 
            font-size: 1.1em; 
            display: flex; 
            align-items: center;
            gap: .3em; 
            color: #3d3d3d;
        }
        &--noAvailable{ background-color: rgb(199, 198, 198) }
        &--noAvailable a{ color: rgb(70, 70, 70) }
        &:hover{ background-color: rgb(199, 198, 198) }
    }
    
    /*----------------- Technology Icons */
    &__technologiesContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(58, 58, 58, 0.767);
    display: flex;
    align-items: flex-start;
    padding: .3em;
    gap: 1em;
    width: 100%
    }
    &__technology{ color: #FAEDBC }
    &__technology svg{ vertical-align: text-top; font-size: 1.3em; transition: transform linear .2s }
    &__technology svg:hover{ transform: scale(1.15) }
    

    /*-------------------------- @Media ------------------------------*/
    @media screen and (max-width:800px) {
        &{
            max-width: 25em;
            flex-direction: column; 
            align-items: center;  
        }
    }

    @media screen and (max-width:550px) {
        &{ width: 100% }
    }

    @media screen and (max-width:400px) {
        &__button--video{ margin-top: 10px }

        &__arrowLeft, &__arrowRight{ display: none }

        &__images{ margin-left: 0; }
    }
}

//----------------------------------------------
//---------------- CONTACT --------------------
//----------------------------------------------
.ContactMe{ 
    padding: 3em 2em ;

    &__h2{  color: #FAEDBC; text-align: center; text-decoration: underline }
    
    &__form{
        margin: 2em auto 2em auto;
        width: 70%;
        display:flex;
        flex-direction: column;
        gap: 1.5em;
        align-items: stretch;
    }
    
    &__label{ display: block; color: rgb(187, 187, 187); margin-bottom: .2em }
    
    &__input{
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.4em;
        padding: .5em;
        background-color: rgb(109, 109, 109);
        color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    &__textarea{ resize: none; height: 15em }
    &__input--error{ color:  rgb(146, 25, 25) }
    
    &__submit{
        padding: .8em;
        background-color: #FAEDBC;
        border: none;
        cursor: pointer;
        font-weight: 700;
        color: rgb(88, 88, 88);
        font-size: 1.2em;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    &__submit--block{
        pointer-events:none;
        animation: submitForm 1.2s infinite ease-in-out;
    }

    @media screen and (max-width:800px){
        &__form{ width: 90% }
    }

    @media screen and (max-width:510px){
        &{ padding: 3em 1em }
        &__form{ width: 100% }
    }
}

@keyframes submitForm{
    0%  { opacity: 1 }
    50% { opacity: 0 }
    100%{ opacity: 1 }
}

.formError{ animation: tiembla .1s infinite }

@keyframes tiembla{
    0%  { transform:rotateZ(-.5deg); }
    50% { transform:rotateZ( 0deg) scale(.98); }
    100%{ transform:rotateZ( .5deg); }
}
