//---- Settings
@import 'config/variables';

//---- Generics
@import 'config/reset';

//---- Utils
@import './config/components';

//------------------------------------------
//---------------- MENU --------------------
//------------------------------------------
.Menu{
    width: 100%;
    max-width: 100vw;
    height: fit-content;
    padding: 0 1em;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #E0E0E0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 9;

    &__h1{
        font-size: 1.5em;
        padding: 1em 0 1em .4em;
    }

    // --------------- IMG   
    &__image{ width: 5em }

    // --------------- LINKS
    &__links{ display: flex; gap: 2em }
    &__h3{ 
        position: relative; 
        overflow: hidden; 
        line-height: 120%;
        & a{ color:#E0E0E0; text-decoration: none; user-select: none; }

        &--blog{ 
            margin-left: -.4em; 
            background-color: #FAEDBC;
            & a{ color: #545454; padding: .3em .5em; }
        }
    }
    &__h3::after{
        content: "";
        position: absolute;
        width: 115%;
        height: .1em;
        background-color: #FAEDBC;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: transform ease-in .2s;
    }
    &__h3--main a{ color: #FAEDBC }
    &__h3:hover::after{ transform: translateX(-50%)}

    // --------------- BUTTON
    &__button{
        width: 2.5em;
        height: 2em;
        cursor: pointer;
        display: none;
        
        & span{
            display: block;
            width: 100%;
            height: .3em;
            background-color: #FAEDBC;
            pointer-events: none;
            transform-origin: left;
            transition: transform .2s linear, opacity .2s linear;
        }
    }
    
    
    &__buttonDiv2, &__buttonDiv3{ margin-top: .5em }
    
    &__button--active &__buttonDiv1{
        transform: rotate(40deg);
    }
    &__button--active &__buttonDiv2{
        transform: translateX(-2em);
        opacity: 0;
    
    }
    &__button--active &__buttonDiv3{
        transform: rotate(-40deg);
    }
}

//------------------------------------------
//---------------- HEADER ------------------
//------------------------------------------
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

.Header{
    position: relative;
    display: flex;
    // justify-content: center;
    align-items: end;
    gap: 2em;

    &__img{
        width: 150px;
        height: 150px;
        border-radius: 32% 68% 70% 30% / 40% 53% 47% 60% ;
    }
    // ------------------------- TEXT
    &__h1{ 
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        border-right: 0.06em solid #a5a5a5;
        animation: typing 2.8s steps(16) .6s 1 normal both, blink 1s steps(1) infinite;
        margin: 0; 
        color: #FAEDBC; 
        font-size: 3em; 
        line-height: 80%;
    }
    &__h3{ 
        margin-bottom: 1em; 
        color: #E0E0E0; 
        font-weight: 300;
        font-size: 1.3em;
    }
}


//------------------------------------------
//---------------- FOOTER ------------------
//------------------------------------------
.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    padding: 1em 1em 0 1em;
    background-color: rgb(68, 68, 68);
    width: 100%;

    &__h4{ font-size: 1.6em; color: rgb(201, 201, 201); margin-bottom: .5em; }
    
    &__network{
        margin-top: .7em;
        font-size: 1.3em;
        color: rgb(138, 138, 138);
        text-align: center;
        padding: .3em .6em;
    }
    &__network svg{ vertical-align: text-top;  }
    &__network:hover{ color: rgb(201, 201, 201); }
    
    &__p{ margin: .5em 0; color: rgb(201, 201, 201) }
}


//--------------------------------- @MEDIA OF <MENU> AND <HEADER>
@media screen and (max-width:800px) {
    .Menu{
        &__button{ display: block }
        
        &__links{
            margin-top: -130%;
            width: 100%;
            flex-direction: column;
            padding: 1em 0;
        }

        &__h3--blog{  margin-left: 0;  background-color: transparent; & > a{ color: #FAEDBC; padding: 0 } }
        &__h3::after{ width: 100%; left: 0; transform-origin: left; transform: scaleX(0); }
        &__h3:hover::after{ transform: scaleX(1)  }
        
        &__links--active{ margin-top: 0 }
    }

    .Header{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1em;
    }

}

@media screen and (max-width:500px) {
    .Header__h1{ font-size: 2em }
    .Header__h3{ font-size: 1.1em; margin-top: .5em }
}

@media screen and (max-width:390px) {
    .Header__h1{ font-size: 1.7em }
}

//-----------------------------------------------------------------------------------------------
//----------------------------------------- HOME PAGE -------------------------------------------
//-----------------------------------------------------------------------------------------------

//--------------------------------------------
//---------------- ABOUT ME ------------------
//--------------------------------------------
.separator{
    margin: 3em 0;
    border-top:none;
    border-color: #4b4b4b;
}
.AboutMe{ 
    width: 100%; 
    padding-top: 5em;
    //margin-bottom: 5em;
    padding-bottom: 0;

    &__container{
        gap: 3em;
    }
    
    &__h3{ 
        width: fit-content;
        padding-right: 15px;
        margin-bottom: .6em; 
        color: #FFFF;
        border-bottom: 2px solid #ffff; 
        font-size: 24px; 
    }
    &__p { margin: 0; color: #bababa; font-size: 1.1em; }
    
    &__button--pk{
        background-color: #FAEDBC;
        font-size: 1.1em;
        padding: .4em;
        margin-top: 2.2em;
        color: #3d3d3d;

        & > svg{ vertical-align: bottom; margin-right: .3em; }
    }
    &__button{
        position: relative;
        display: flex;
        background-color: #E0E0E0;
        width: fit-content;
        margin-top: .8em;
        padding: .5em;
        overflow: hidden;
        z-index: 8;
    }
    .AboutMe__effectButton{   
        position: absolute;
        left: -10px;
        top: 0;
        width: 4em;
        height: 3em;
        background-color: #FAEDBC;
        transform-origin: left;
        transform: skewX(40deg);
        transition: transform linear .3s;
    }
    .AboutMe__button:hover .AboutMe__effectButton{ transform: scaleX(4); }
    .AboutMe__h4{ margin-left: .5em; z-index: 10; color: #3d3d3d; }
    .AboutMe__button svg{ margin: 0; z-index: 10; color: #3d3d3d; }
}

// //--------------------------------- @MEDIA 
// @media screen and (max-width:1050px) {
//     .Section{ padding: 5em 5% }
// }

// @media screen and (max-width:950px) {
//     .AboutMe__textContainer{ max-width: 350px }
    
// }

@media screen and (max-width:700px){
    .AboutMe{
        padding-top: 2em;
        margin-bottom: 3em;
        // &__container{ flex-direction: column; align-items: center; margin-bottom: 3em; padding: 1em;}
        // &__textContainer{ display: flex; flex-direction: column; align-items: center; max-width: 600px; }
    }
}


//--------------------------------------------
//---------------- SKILLS --------------------
//--------------------------------------------
.Skills{
    

    &__h3{ 
        width: fit-content;
        padding-right: 15px;
        margin-bottom: .6em; 
        color: #FFFF;
        border-bottom: 2px solid #ffff; 
        font-size: 24px; 
    }

    // ICONS AND EFFECTS
    &__container{ 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        gap: 1.5em 1.8em; 
        margin-top: 1.5em; 
        margin-bottom: 2.5em; 
    }
    &__icon{
        width: 100%;
        position: relative;
        transition: all linear .2s;
    
       & svg{ width: 100%; height: 100%; color: #a5a5a5 }
    }
    &__icon[title]:hover:before {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        content: attr(title);
        margin-top: 0.5em;
        padding: 0.5em;
        width: 150px;    /* change it */
        overflow: hidden;
        color: #FFF;
        text-align: center;
        background-color: #222222;
    }
    

    @media (hover:hover) {
        // SCALE AND COLOR ANIMATION
        &__icon:hover{
            transform: scale(1.15);
            & svg{
                color: #FAEDBC;
            }
        }
        // LOS ICONOS NO HOVER TENDRAN UNA OPACIDAD DE 0.3
        &__container:hover >  &__icon:not(:hover){
            opacity: 0.3;
        }
    }

    @media screen and (max-width:1000px){
        &__icon[title]:hover:before{
            width: 100px;
            font-size: .8em;
        }
    }
    
    @media screen and (max-width:500px){
        &__container{
            grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
        }
    }
}

//----------------------------------------------
//---------------- PROJECTS --------------------
//----------------------------------------------
.Projects{

    &__h3{ 
        width: fit-content;
        padding-right: 15px;
        margin-bottom: .6em; 
        color: #FFFF;
        border-bottom: 2px solid #ffff; 
        font-size: 24px; 
    }

    &__container{
        margin-top: 2em;
    }

    &__viewMore{
        border-radius: 5px;
        outline: none;
        border: none;
        transition: opacity .2s;
        width: 100%;
        
        &:hover{ opacity: .6 }
        
        & a{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.6em;
            padding: .3em 1.4em;
            color: #3d3d3d;
        }

        & svg{
            font-size: .9em;
            vertical-align: baseline;
            margin-right: .3em;
        }
    }
    
    @media screen and (max-width:750px) {
        &{ padding:  1em .5em 2em .5em }
        &__container{ gap: 2em }

        &__viewMore{
            & a{ font-size: 1.3em }
            & svg{ font-size: .8em }
        }
    }
}

/*-------------------- Project Card ------------------*/
.Project{ 
    gap: .5em; 
    width: 80%;  
    border-bottom: .001em solid var(--tertiary-color-text);
    padding-bottom: 1em;
    padding-left: 2em;
    margin-bottom: 2em;
    position: relative;

    &__arrow{
        color: #FAEDBC;
        position: absolute;
        left: 0;
        top: 1em;
        font-size: 1.3em;
    }


    /* ------------------ Text Box */
    &__title{ color: $primary-color-text; font-size: 1.5em; margin-bottom:0; text-transform: uppercase; }
    &__p{ color: $secundary-color-text; margin-top: 0;  }
    
    &__button{ 
        margin-right: 1em; 
        background-color: rgb(226, 226, 226);
        border: none;
        box-shadow: 0 1.5px 5px rgba(48, 47, 47, 0.842);
    
        & a{ 
            padding: .5em; 
            font-size: 1.1em; 
            display: flex; 
            align-items: center;
            gap: .3em; 
            color: #3d3d3d;
        }
        &--noAvailable{ background-color: rgb(199, 198, 198) }
        &--noAvailable a{ color: rgb(70, 70, 70) }
        &:hover{ background-color: rgb(199, 198, 198) }
    }
   

    /*-------------------------- @Media ------------------------------*/
    @media screen and (max-width:550px) {
        &{ width: 100% }
        &__button a{ font-size: 1em; }
    }
}

//----------------------------------------------
//---------------- CONTACT --------------------
//----------------------------------------------
.ContactMe{ 
    padding-bottom: 3em;

    &__h3{ 
        width: fit-content;
        padding-right: 15px;
        margin-bottom: .6em; 
        color: #FFFF;
        border-bottom: 2px solid #ffff; 
        font-size: 24px; 
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        gap: 1.5em;
        position: relative;
        margin-bottom: 2em;
    }

    &__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #545454;
        border-radius: 10px;
        padding: 1em;
        transform: scale(1);
        transition: all .3s;
    
        & svg{
            font-size: 2em;
            margin-bottom: .2em;
            transition: color .3s;
            color: #a5a5a5;
        }
    }

    @media (hover:hover) {
        &__card:hover{
            transform: scale(1.1);
            border-color: #FAEDBC;
    
            & svg{ color: #FAEDBC; }
            & .ContactMe__cardTitle{ color: #FAEDBC; }
        }
        &__cards:hover >  &__card:not(:hover){
            opacity: 0.4;
        }
    }

    &__cardTitle{
        font-weight: 500;
        color: #E0E0E0;
        font-size: 1.3em;
        transition: color .3s;
    }

    &__inputContainer{
        position: relative;

        & svg{
            color: #FAEDBC;
            position: absolute;
            bottom: 13px;
            font-size: 1.3em;
            left: 10px;
        }
    }
    
    &__form{
        margin: 2em auto 2em auto;
        width: 100%;
        display:flex; 
        flex-direction: column;
        gap: 1.5em;
        align-items: stretch;
    }
    
    &__label{ display: block; color: rgb(187, 187, 187); margin-bottom: .2em }
    
    &__input{
        width: 100%;
        border: none;
        outline: none;
        font-size: 1.2em;
        padding: .5em;
        background-color: rgb(109, 109, 109);
        color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    &__textarea{ resize: none; height: 15em; }
    &__input--error{ color:  rgb(146, 25, 25) }
    
    &__submit{
        padding: .4em;
        background-color: #FAEDBC;
        border: none;
        cursor: pointer;
        color: rgb(88, 88, 88);
        font-size: 1.2em;
        box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    }
    &__submit--block{
        pointer-events:none;
        animation: submitForm 1.2s infinite ease-in-out;
    }

    &__information{
        & span{
            display: block;
            margin-top: .5em;
            font-size: 1.1em;
        }
        & svg{
            vertical-align: bottom;
            margin-right: .5em;
            font-size: 1.2em;
            color: #FAEDBC;
        }
    }
}

@keyframes submitForm{
    0%  { opacity: 1 }
    50% { opacity: 0 }
    100%{ opacity: 1 }
}

.formError{ animation: tiembla .1s infinite }

@keyframes tiembla{
    0%  { transform:rotateZ(-.5deg); }
    50% { transform:rotateZ( 0deg) scale(.98); }
    100%{ transform:rotateZ( .5deg); }
}
