.container{
    max-width: 800px;
    margin: 2em auto 4em auto;
    padding: 0 1em;
    position: relative;
}

.goBack{
    background-color: #FAEDBC;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: .3em .7em;
    margin-bottom: 2em;
    display: block;
}
.goBack a{ color: black; font-size: 1.2em }

.title{ font-size: 2.1em; margin-top: .3em }

.breadCrumbs{ font-size: 1.1em }
.breadCrumbs a:hover{ color: rgb(109, 140, 193); }

.imageContainer{ width: 100%; margin-top: 2em }
.imageAuthor{ margin: 5px 0; text-align: right }
.imageContainer img{ width: 100% }

/*--------------- OPTIONS ---------------------*/

/*--------------- CONTENT ---------------------*/
.content{
    margin-top: 3em;
    margin-bottom: 1.2em;
    border-bottom: 1px solid rgb(104, 104, 104);
}
.content *{
    color: #949494;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h1 strong,
.content h2 strong,
.content h3 strong,
.content h4 strong,
.content h5 strong{
    letter-spacing: 1.5px;
    margin-top: 1.7em;
    color:#b9b7b7;
}

.content h3{ font-size: 1.2em }

.content p, 
.content span, 
.content a{
    font-size: 1em;
}

.content pre{
    background-color: #1c1c1c;
    overflow-x: auto;
    padding: 10px;
    border-radius: 5px;
}

.content p > code{
    background-color: #1c1c1c;
    padding: 1px 5px;
    border-radius: 4px;
    margin: 0 2px;
}

.content a{
    color: rgb(25, 105, 190);
    text-decoration: underline;
}
.content blockquote{
    margin-left: 5px;
    padding-left: 20px;
    border-left: 3px solid #FAEDBC;
}
.content blockquote > p{
    padding: 5px 0;
    color: rgb(131, 131, 131);
}

.content hr{
    height: .5px;
    background-color: #6d6d6d;
    border-color: transparent;
}

.content img, .content picture, .content video, .content iframe{
    max-width: 100%;
}

.article__date svg{
    vertical-align: text-bottom;
    margin-right: 7px;
    color: #FAEDBC;
}

.article__date{
    font-size: 1.1em;
}

